@font-face {
    font-family: 'Metal Mania';
    src: url('https://lkannan.github.io/CustomFonts/metalmania.woff2') format('woff2'),
         url('https://lkannan.github.io/CustomFonts/metalmania.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
