@font-face {
    font-family: 'Roboto';
    src: url('https://lkannan.github.io/Roboto/roboto.woff2') format('woff2'),
         url('https://lkannan.github.io/Roboto/roboto.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}